.admin-dashboard-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15px;
  gap: 20px;
  text-decoration: none;
  position: relative;
}

.admin-dashboard-item-text {
  font-size: 16px;
  text-decoration: none;
}

.admin-dashboard-item-icon > svg {
  width: 28px;
  height: 28px;
}

.admin-dashboard-item-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
  background-color: #006fd6;
}
