.admin-door-pass-show {
  width: 100%;
  height: 100%;
}

.admin-door-pass-show-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border-radius: 18px;
  background-color: var(--light-theme-secondary);
}

.admin-door-pass-show.dark-theme .admin-door-pass-show-content {
  background-color: var(--dark-theme-secondary);
}

.admin-door-pass-show-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 18px;
}

.admin-door-pass-show-content > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.admin-door-pass-show-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.admin-door-pass-show-content-header > svg {
  fill: #02822d;
  width: 50px;
  height: 50px;
}

.admin-door-pass-show-content-header > p {
  font-size: 24px;
}
