.top-menu-meals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--light-theme-secondary);
}

.dark-theme.top-menu-meals {
  background-color: var(--dark-theme-secondary);
}

.user-info-meals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
  max-width: 270px;
}

.user-info-meals > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.user-info-meals > div > p:nth-child(2) {
  font-weight: bold;
}

.user-profile-meals {
  position: relative;
  display: flex;
  align-items: center;
}

.user-profile-meals > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile-meals > p {
  font-weight: bold;
}

.user-profile-meals-button {
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  --user-profile-meals-button-rotation: 0deg;
}

.user-profile-meals-button:hover {
  animation: shake 0.3s;
}

.user-profile-meals-button > svg {
  width: 36px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .top-menu-meals {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .user-info-meals {
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(var(--user-profile-meals-button-rotation));
  }
  25% {
    transform: rotate(calc(var(--user-profile-meals-button-rotation) + 30deg));
  }
  50% {
    transform: rotate(var(--user-profile-meals-button-rotation));
  }
  75% {
    transform: rotate(calc(var(--user-profile-meals-button-rotation) - 30deg));
  }
  100% {
    transform: rotate(var(--user-profile-meals-button-rotation));
  }
}
