.top-menu-meals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user-info-meals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
  max-width: 270px;
}

.user-info-meals > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.user-info-meals > div > p:nth-child(2) {
  font-weight: bold;
}

.user-profile-meals {
  display: flex;
  align-items: center;
}

.user-profile-meals > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile-meals > p {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .top-menu-meals {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .user-info-meals {
    width: 100%;
  }
}
