.date-select-box-meals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 20px;
  background-color: var(--light-theme-secondary);
  border-radius: 12px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(198, 198, 198, 1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(198, 198, 198, 1);
  box-shadow: 4px 4px 5px 0px rgba(198, 198, 198, 1);
}

.date-select-box-meals.dark-theme {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.date-select-box-meals.box-selected {
  background-color: green;
}

.dark-theme.date-select-box-meals {
  background-color: var(--dark-theme-secondary);
}
