.admin-edit-class-id {
  width: 100%;
  display: flex;
  padding: 5px 0px;
  align-items: center;
  border-bottom: 1px solid currentColor;
  padding: 5px 20px;
}

.admin-edit-class-id > p {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.admin-edit-class-id-editor {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.admin-edit-class-id-editor-edit {
  transform: translateX(15px);
}

.admin-edit-class-id-editor > a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.admin-edit-class-id-editor > input {
  width: 80%;
  height: 100%;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: currentColor;
  border-bottom: 1px solid currentColor;
}

.admin-edit-class-id-editor button {
  background: none;
  border: none;
  color: currentColor;
  height: 90%;
  cursor: pointer;
}

.admin-edit-class-id-editor-btns {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-edit-class-id-editor > button > svg {
  height: 100%;
}
