* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.aboutPage-main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

.aboutPage-main img {
  object-fit: scale-down;
}

.aboutPage-main::-webkit-scrollbar {
  display: none;
}

.aboutPage-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw !important;
  min-height: 100vh !important;
  scroll-snap-align: start;
  padding-right: 100px;
  padding-left: 100px;
}

.aboutPage-container-text {
  text-align: left;
  font-size: 1.7rem;
  align-items: flex-start;
  width: 40%;
}

.aboutPage-container-text-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.aboutPage-container-text-list ul {
  flex-direction: column;
  list-style: disc;
  text-align: left;
}

.aboutPage-container-text-list ul li {
  list-style-position: inside;
}

.aboutPage-introText {
  font-size: 2.5rem;
  text-align: center;
}

.aboutPage-container-image-phone {
  height: 50vh !important;
  width: auto !important;
}

.aboutPage-container img {
  width: 45vw;
  height: 100%;
}

.aboutPage-outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  gap: 50px;
  padding-bottom: 100px;
  scroll-snap-align: start;
}

.aboutPage-outro-downloadimg {
  object-fit: scale-down;
  width: 100vw;
  height: 37%;
  max-width: fit-content;
}

.aboutPage-outro-text-small {
  width: 60%;
  font-size: 1.4rem;
  text-align: center;
  max-width: 1000px;
}

.aboutPage-outro-text-big {
  max-width: 1000px;
  font-size: 1.9rem;
  text-align: center;
}

.aboutPage-outro p a {
  color: #2f89c4;
  text-decoration: underline;
}

.aboutPage-outro-badges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 1000px;
}

.aboutPage-outro-badges-appstore,
.aboutPage-outro-badges-google {
  width: 25%;
  /* min-width: 155px; */
}

.aboutPage-outro-badges-appstore img {
  width: 100%;
}

.aboutPage-outro-badges-appstore img > svg {
  width: 100%;
}

.aboutPage-outro-badges-google img {
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .aboutPage-introText {
    font-size: 1.5rem;
  }
  .aboutPage-outro-text-small {
    font-size: 1.2rem;
  }
  .aboutPage-outro-text-big {
    font-size: 1.5rem;
  }
  .aboutPage-container-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 981px) {
  .aboutPage-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .aboutPage-container .aboutPage-container-ch-left {
    transform: translateX(0%);
  }
  .aboutPage-container .aboutPage-container-ch-right {
    transform: translateX(0%);
  }

  .aboutPage-container-image-phone {
    width: 20% !important;
    height: 100%;
  }

  .aboutPage-container img {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 652px) {
  .aboutPage-content {
    gap: 50px;
  }
  .aboutPage-container {
    flex-direction: column !important;
    justify-content: center;
    gap: 10vh;
    min-width: fit-content;
    min-height: fit-content;
  }

  .aboutPage-container-mini-r {
    flex-direction: column-reverse !important;
  }

  .aboutPage-container img {
    width: 100%;
    /* height: auto; */
  }

  .aboutPage-container-image-phone {
    height: 45vh !important;
    width: auto !important;
  }

  .aboutPage-container-text {
    font-size: 1rem;
    width: 80%;
    text-align: center;
  }

  .aboutPage-introText {
    font-size: 1.5rem;
  }

  .aboutPage-outro {
    height: 100vh;
    width: 100vw;
    min-width: fit-content;
    gap: 5%;
  }

  .aboutPage-outro-badges {
    width: 80%;
  }

  .aboutPage-outro-downloadimg {
    width: 85%;
  }

  .aboutPage-outro-badges-appstore,
  .aboutPage-outro-badges-google {
    width: 45%;
  }

  .aboutPage-outro-badges-appstore img {
    width: 100%;
  }

  .aboutPage-outro-badges-google img {
    width: 100%;
  }

  .aboutPage-outro-text-small {
    width: 80%;
    font-size: 0.9rem;
    text-align: center;
  }

  .aboutPage-outro-text-big {
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
  }
}
