.settings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-x: visible;
}

.userInfo-Settings{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

.schoolLogo-Settings img{
    height: 200px;
}

.profileInfo-Settings p{
    font-weight: 1000;
    font-size: 24px;
}

.statusIcon-Settings{
    width: 20%;
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    right: 5%;
    bottom: 5%;
}

.statusIcon-Settings::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profilePictureAndIcon-Settings{
    position: relative;
    display: inline-block;
    width: 150px;
}

.profilePicture-Settings{
    width: 100%;
    border-radius: 50%;
}

.mainSettings{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floatingDiv{
    background-color: #f0f0f0;
    width: 80%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.floatingDiv div:first-of-type {
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.floatingDiv div:first-of-type p:first-of-type{
    font-size: 18px;
}
.floatingDiv div:first-of-type a:first-of-type{
    font-size: 16px;
    text-decoration: underline;
    color: #2f89c4;
}

.statusDropdown{
    background-color: white;
    max-width: 250px;
    max-height: 70%;
    /* border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black; */
    position: relative;
}

.statusIconAndText{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    padding-left: 25px;
}

.statusIconAndText div:first-of-type{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.statusIconAndText p{
    font-size: 16px !important;
    padding-left: 10px;
}

.statusDropdown .arrowDown{
    width: 30px;
    height: 100%;
    /* border-left: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    /* border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black; */
    border-top: 1px solid rgba(0, 0, 0, 0.271);
    min-height: 225px;
    bottom: -225px;
    left: 0px;
    transition: visibility 200ms linear;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: opacity 150ms ease-in-out;
}
.dropdownContent .selectStatus{
    height: 35px !important;
    width: 80% !important;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: flex-start !important;
    align-items: center !important;
    cursor: pointer;
}

.dropdownContent .selectStatus div{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.dropdownContent .selectStatus p{
    font-size: 16px !important;
    padding-left: 10px;
}

.aboutSchoolDropdown{
    position: absolute;
    background-color: #f0f0f0;
    height: 300px !important;
    width: 100%;
    bottom: -300px;
    left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: display 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

.aboutSchoolDropdown div{
    width: 90% !important;
    height: 90% !important;
    display: block !important;
    font-size: 18px;
}

.aboutSchoolDropdown a{
    font-size: 18px !important;
    text-decoration: underline;
    color: #2f89c4;
}