.admin-activity-log-door-pass {
  width: 300px;
  max-width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
  background-color: var(--light-theme-third);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  overflow-y: scroll;
}

.admin-activity-log-door-pass.dark-theme {
  background-color: var(--dark-theme-third);
}

.admin-activity-log-door-pass > p {
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.admin-activity-log-door-pass > .date {
  font-size: 15px;
}

.admin-activity-log-door-pass > .fail {
  color: red;
}

.admin-activity-log-door-pass > p > a {
  color: currentColor;
  text-decoration: none;
}

.admin-activity-log-door-pass > .load-more-btn {
  background-color: transparent;
  color: var(--light-theme-primary);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 20px;
  border: none;
}

.admin-activity-log-door-pass > .loading-indicator {
  width: 30px;
  height: 30px;
  padding-top: 10px;
}
