.meal-select-box {
  background-color: var(--light-theme-secondary);
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  height: 200px;
  padding: 20px;
  border-radius: 14px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(198, 198, 198, 1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(198, 198, 198, 1);
  box-shadow: 4px 4px 5px 0px rgba(198, 198, 198, 1);
}

.meal-select-box.dark-theme {
  background-color: var(--dark-theme-secondary);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.meal-select-box.meal-select-box-selected {
  -webkit-box-shadow: 0px 0px 6px 0px #03c316;
  -moz-box-shadow: 0px 0px 6px 0px #03c316;
  box-shadow: 0px 0px 6px 0px #03c316;
  border: 1px solid #03c316;
}

.meal-select-box-side {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.meal-select-box-side-left {
  align-items: flex-start;
  height: 75%;
  padding-right: 20px;
  justify-content: flex-start;
  gap: 20px;
}

.meal-select-box-img {
  object-fit: contain;
  height: 45%;
  max-height: 45%;
}

.meal-select-box-btn {
  background-color: #03a1c3;
  width: 123px;
  min-height: 40px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.meal-select-box-btn.meal-selected {
  background-color: #03c316;
  cursor: auto;
}

.meal-select-box-side-right-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.meal-select-box-side-description {
  margin-top: 10px;
  font-size: 13px;
  overflow: scroll;
}

@media screen and (max-width: 520px) {
  .meal-select-box-side-left {
    height: 100%;
    flex: 1;
  }

  .meal-select-box-side-right {
    height: 100%;
    flex: 1;
  }

  .meal-select-box-btn {
    font-size: 14px;
  }
  .meal-select-box-img {
    height: auto;
    width: 65%;
  }
}

@media screen and (max-width: 450px) {
  .meal-select-box {
    height: auto;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .meal-select-box-btn {
    height: auto;
    width: 80%;
  }

  .meal-select-box-side-description {
    text-align: center;
  }
}
