@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.maliceLogin {
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  position: relative;
  overflow-y: visible;
}

.maliceLogin-Wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 386px;
  max-width: 386px;
  gap: 20px;
}

.maliceLogin-LoginWindow {
  background-color: #ffffff;
  width: 100%;
  height: 557px;
  max-height: 557px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.maliceLogin-LoginWindow-Alert {
  width: 100%;
  border-radius: 22px;
  background-color: #e53935;
  height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}
.maliceLogin-LoginWindow-Alert p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.maliceLogin-LoginWindow img {
  width: 60%;
}

.maliceLogin-LoginWindow-Text {
  font-weight: bolder;
}

.maliceLogin-LoginWindow-Form {
  width: 65%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.maliceLogin-LoginWindow-Form-Input {
  position: relative;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

.maliceLogin-LoginWindow-Form-Input-eye {
  position: absolute;
  right: -24px;
  background-color: transparent;
  border: none;
}

.maliceLogin-LoginWindow-Form-Input span {
  position: absolute;
  top: -20%;
  left: 0px;
  color: rgb(169, 169, 169);
  font-size: 16px;
  z-index: -1;
}

.maliceLogin-LoginWindow-Form-Input input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  font-size: 13px;
  background-color: transparent;
}

.maliceLogin-LoginWindow-Form-RememberMe {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.maliceLogin-LoginWindow-Form-RememberMe p {
  font-size: 13px;
}

.maliceLogin-LoginWindow-Form-RememberMe input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 0px !important;
  border: 1px solid black;
}

.maliceLogin-LoginWindow-Form-SubmitBtn {
  background-color: #3f87f3;
  border: none;
  width: 50%;
  height: 40px;
  color: white;
  font-size: 21px;
  font-weight: bolder;
  border-radius: 13px;
  cursor: pointer;
}

.maliceLogin-LoginWindow-Link {
  font-size: 13px;
  color: #2359c7;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .maliceLogin {
    overflow-x: visible;
    overflow-y: visible;
  }
  .maliceLogin-Wrap {
    width: 98%;
    min-width: 200px;
    height: 100%;
    gap: 10px;
    justify-content: center;
  }
  .maliceLogin-LoginWindow {
    width: 100%;
    height: 80%;
    min-height: 369px;
    max-height: 500px;
    /* max-width: ; */
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .maliceLogin-LoginWindow-Form-Input-eye {
    right: 0px;
  }
  .maliceLogin-LoginWindow-Text {
    font-size: 14px;
  }

  .maliceLogin-LoginWindow-Form {
    width: 90%;
  }

  .maliceLogin-LoginWindow-Form-SubmitBtn {
    font-size: 18px;
  }
}

@media only screen and (max-width: 374px) {
  .maliceLogin-LoginWindow-Alert p {
    font-size: 12px;
  }
}
