* {
  --green-btn: #56c74e;
  --red-btn: #db4444;
}

.admin-schedule {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.admin-schedule-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  min-height: fit-content;
  min-width: 307px;
}

.admin-schedule-backbtn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}

.admin-schedule-backbtn p {
  font-size: 24px;
}
.admin-schedule-select-school {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.admin-schedule-select-school p {
  font-size: 24px;
  font-weight: bold;
}

.admin-schedule-select-school-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  z-index: 10;
}

.admin-schedule-select-school-dropdown p {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.admin-schedule-select-school-dropdown svg {
  position: absolute;
  right: 5px;
}

.admin-schedule-select-school-dropdown-list {
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e8;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.admin-schedule-select-school-dropdown-list li {
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.admin-schedule-modify-uni-link {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.admin-schedule-modify-uni-link-text {
  font-size: 25px;
}

.admin-schedule-modify-uni-link-edit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: black;
}

.admin-schedule-modify-uni-link-edit a {
  font-size: 25px;
  color: black;
  text-decoration: underline;
}

.admin-schedule-modify-uni-link-edit-popup {
  background-color: white;
  width: 150%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: calc(100% + 10px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.53);
}

.admin-schedule-modify-uni-link-edit-popup textarea {
  width: 100%;
  height: 100px;
  font-size: 14px;
}

.admin-schedule-modify-uni-link-edit-popup-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.admin-schedule-modify-uni-link-edit-popup-buttons button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.admin-schedule-modify-uni-link-edit-popup-buttons #save {
  background-color: var(--green-btn);
}

.admin-schedule-modify-uni-link-edit-popup-buttons #discard {
  background-color: var(--red-btn);
}

.admin-schedule-classes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.admin-schedule-classes-title {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #444444;
  height: 40px;
}

.admin-schedule-classes-title p {
  flex: 1;
  text-align: center;
}

.admin-schedule-classes-title svg {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.admin-schedule-classes-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admin-schedule-classes-edit-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #b0b0b0;
}

.admin-schedule-classes-edit-class-name {
  flex: 1;
  text-align: center;
}

.admin-schedule-classes-edit-class-id {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin-schedule-classes-edit-class-id-buttons {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
}
.admin-schedule-classes-edit-class-id-buttons #delete {
  color: red;
}

.admin-schedule-classes-edit-class-id-buttons svg {
  cursor: pointer;
}

.admin-schedule-classes-edit-class-id-edit {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  height: 100%;
  transform: translateX(25px);
}
.admin-schedule-classes-edit-class-id-edit input {
  width: 30%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #444444;
  font-size: 15px;
  text-align: center;
}

.admin-schedule-classes-edit-class-id-edit svg {
  cursor: pointer;
}

.admin-schedule-classes-navigation {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}

.admin-schedule-classes-navigation p {
  font-size: 13px;
}

.admin-schedule-classes-navigation svg {
  cursor: pointer;
}

/*Za pop up create class*/
.admin-schedule-classes-create-class {
  background-color: white;
  width: 70%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: calc(100% + 10px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.53);
  transform: translateX(-50%);
}

.admin-schedule-classes-create-class input {
  width: 90%;
  height: 35px;
  font-size: 14px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #444444;
}

.admin-schedule-classes-create-class-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.admin-schedule-classes-create-class-buttons button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.admin-schedule-classes-create-class-buttons #save {
  background-color: var(--green-btn);
}

.admin-schedule-classes-create-class-buttons #discard {
  background-color: var(--red-btn);
}

@media screen and (max-width: 430px) {
  .admin-schedule-content {
    justify-content: center;
    margin-top: 50px;
  }
  .admin-schedule-backbtn p {
    font-size: 16px;
  }

  .admin-schedule-backbtn svg {
    width: 20px;
    height: 20px;
  }
  .admin-schedule-select-school {
    margin-top: 20px;
    gap: 20px;
  }

  .admin-schedule-select-school p {
    font-size: 18px;
  }

  .admin-schedule-select-school-dropdown {
    width: 120px;
  }

  .admin-schedule-modify-uni-link-text {
    font-size: 18px;
  }

  .admin-schedule-modify-uni-link-edit a {
    font-size: 18px;
  }

  .admin-schedule-modify-uni-link-edit svg {
    width: 20px;
    height: 20px;
  }

  .admin-schedule-modify-uni-link-edit {
    gap: 20px;
  }

  .admin-schedule-modify-uni-link-edit-popup {
    right: 50%;
  }

  .admin-schedule-classes {
    width: 300px;
  }

  .admin-schedule-classes-title #classId {
    flex: 2;
  }

  .admin-schedule-classes-edit-class-id,
  .admin-schedule-classes-edit-class-id-edit {
    flex: 2;
  }

  .admin-schedule-classes-title svg {
    top: -25px;
    left: 40px;
  }

  .admin-schedule-classes-create-class {
    right: -20px;
    top: calc(100% - 20px);
  }
}
