.admin-home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Open Sans", sans-serif;
}

.admin-home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding-top: 20px;
  margin-bottom: 90px;
  /* min-width: fit-content; */
  min-height: fit-content;
}

.admin-home-title {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.admin-home-title p {
  font-size: 50px;
  color: #3072d6;
}

.admin-home-title img {
  width: 50px;
  height: 50px;
}

.admin-home-subtitle {
  font-size: 47px;
  color: black;
}

.admin-home-select {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-home-select-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: black;
  text-decoration: none;
  /* flex: 1 1 150px; */
}

.admin-home-select-item-box {
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.admin-home-select-item-box img {
  width: 80%;
  height: 80%;
}

.admin-home-select-item-text {
  height: 22px;
  margin: 0px;
  color: black;
  text-decoration: none;
  border: none;
}

@media screen and (max-width: 400px) {
  .admin-home-title {
    flex-direction: column;
  }

  .admin-home-title p {
    font-size: 30px;
  }

  .admin-home-title img {
    width: 40px;
    height: 40px;
  }

  .admin-home-subtitle {
    font-size: 25px;
  }
}
